.response {
    &.active {
        display: flex;
    }
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 12000;
    top: 0;
    left: 0;
    &__inner {
        padding: rem(37px) rem(68px);
        background: white;
        text-align: center;
    }
    &__message {
        margin-bottom: rem(18px);
    }
    &__btn {
        background: #365A49;
        color: #fff;
        transition: all .3s ease;
        &:hover {
            background: #2E4E3F;
        }
    }
}