@import "normalize.scss";
$baseFontSize: 18px;
@import "media.scss";
html {
    font-size: $baseFontSize;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: 400;
    @include tablets {
        font-size: $baseFontSize - 1;
    }
    @include phone {
        font-size: $baseFontSize - 2;
    }
}

.wrapper {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: rem(512px);
        height: rem(648px);
        top: 0;
        right: 0;
        background: url(../img/leaf.png) no-repeat;
        z-index: 1000;
    }
}

@import "header.scss";
@import "slider.scss";
@import "command.scss";
@import "price.scss";
@import "response.scss";
@import "why.scss";
@import "reviews.scss";
@import "work.scss";
@import "delivery.scss";
@import "map.scss";
@import "footer.scss";
$accent_color: #ffff;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.btn {
    padding: rem(21px) rem(41px);
    border-radius: rem(100px);
    text-transform: uppercase;
    border: 0;
    font-size: rem(16px);
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $accent_color;
}

ul {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.context {
    position: relative;
    z-index: 10000;
    text-align: center;
    &__title {
        font-weight: bold;
        font-size: rem(48px);
        line-height: rem(58px);
        text-transform: uppercase;
    }
    &__subtitle {
        margin: rem(19px) auto 0;
        max-width: rem(436px);
        font-weight: normal;
        font-size: rem(18px);
        line-height: rem(22px);
        color: #666666;
    }
}